
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Sensitive files
credentials.json
token.json
.env

login-sanity-report/
login-sanity-report.zip
reports/
